.header {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 0px 0px;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .header {
    padding: 30px 10px 0px 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .header {
    margin-bottom: 50px;
  }
}
